.ingredient {
    position: relative;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    gap: 9px;
}

.title {
    text-align: center;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: inherit;
}