.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}
  
.main {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  max-width: 1240px;
  gap: 40px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px 0;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}

.errorContainer {
  display: flex;
  gap: 10px;
}

.error {
  color: #E52B1A;
}