.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 70px;
}

.done {
    color: #0CC;
}

.compound {
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ingredients {
    list-style: none;
    display: flex;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 384px;
    overflow-y: scroll;
    padding-right: 24px;
}

.ingredient {
    display: flex;
    gap: 16px;
    align-items: center;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid var(--button-normal, #801AB2);
    background: var(--interface-bg, #131316);
}

.name {
    min-width: 320px;
}

.price {
    min-width: 192px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.inner {
    margin-top: 40px;
    min-width: 640px;
    display: flex;
    justify-content: space-between;
}