.wrapper {
    border-radius: 40px;
    background: var(--interface-modal-bg, #1C1C21);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-decoration: none;
    color: inherit;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.done {
    color: #0CC;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}


.ingredients {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin-left: -16px;
}

.container:first-child{
    margin-left: 0;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid var(--button-normal, #801AB2);
    background: var(--interface-bg, #131316);
}


.lastImage {
    composes: image;
    filter: brightness(60%)
}

.counter {
    width: 100%;
    height: calc(100% - 4px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    z-index: 10;
}